<div class="bg-white sm:py-6">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <% if (categories.length) { %>
    <div class="bg-white sm:py-6 w-2/5">
      <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 py-6">Read By Categories</h3>
      <div class="flex gap-2 flex-wrap">
        <% for( let index = 0; index < categories.length; index++ ) { %>
        <a href="/categories/<%= categories[index]._id.toString() %>/1" class="rounded-full px-4 py-1 bg-gray-100"><%= categories[index].name%></a>
        <% } %>
      </div>
    </div>
    <% } %>
    <div class="mx-auto max-w-2xl lg:mx-0 border-b pb-4">
      <p class="mt-2 text-2xl leading-8 text-gray-900 font-semibold">Our Articles</p>
    </div>
    <% if (!articles.length) { %>
    <p class="mt-4 text-lg leading-8 text-gray-600">No Articles Found</p>
    <% } %>
    <div class="flex">
      <% if (articles.length) { %>
      <div
        class="mx-auto mt-4 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 border-gray-200 pt-4 sm:mt-2 sm:pt-2 lg:mx-0 lg:max-w-none lg:grid-cols-1 w-3/5"
      >
        <% for( let index = 0; index < articles.length; index++ ) { %> <%- include('../components/long-article-card.ejs', { id: articles[index]._id,
        title: articles[index].title, article: articles[index].article, owner_img: articles[index].owner_id.profile_img, owner_name:
        articles[index].owner_id.name, date: articles[index].date, cover_img: articles[index].cover_img, owner_id:
        articles[index].owner_id._id.toString(), category: articles[index].category.name, category_id: articles[index].category._id.toString() }) %>
        <% } %>
      </div>
      <% } %>
    </div>
    <% if (articles.length) { %>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= (currentPage*pageSize) - (pageSize - 1) %></span>
          to
          <span class="font-medium"><%= currentPage === totalPages ? totalRecords : currentPage*pageSize %></span>
          of
          <span class="font-medium"><%= totalRecords %></span>
          results
        </p>
      </div>
      <div>
        Pages:
        <nav class="ml-3 isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <% if (currentPage > 1) { %>
          <a
            href="/read/<%= currentPage-1 %>"
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <% } %>
          <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
          <div
            class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            <%= currentPage %>
          </div>
          <% if (currentPage < totalPages) { %>
          <a
            href="/read/<%= currentPage+1 %>"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            <span class="sr-only">Next</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <% } %>
        </nav>
      </div>
    </div>
    <% } %>
  </div>
</div>
